
.vote{

background-repeat:no-repeat;
background-position: top;
background-color: transparent;
border:none;
width:200px;
height:300px;
line-height:2em;
vertical-align:bottom;
color:#0ff;
font-size:1.3em;

}
.vote1{
	background-image: url('./../images/1.png');
}
.vote1:hover{
	background-image: url('./../images/1b.png');
	
}
.vote1:active{
	background-image: url('./../images/1clicked.png');
	
}
.vote2{
	background-image: url('./../images/2.png');
	
}
.vote2:hover{
	background-image: url('./../images/2clicked.png');
	
}
.vote3{
	background-image: url('./../images/3.png');
	
}
.vote3:hover{
	background-image: url('./../images/3clicked.png');
	
}
.vote4{
	background-image: url('./../images/4.png');
	
}
.vote4:hover{
	background-image: url('./../images/4clicked.png');
	
}
.vote5{
	background-image: url('./../images/5.png');
	
}
.vote5:hover{
	background-image: url('./../images/5clicked.png');
	
}