input[type='range'].meter{
	-webkit-appearance: none; 
	background-image: url('./../images/sidemeter2.png');
	background-repeat:no-repeat;
	background-color: transparent;
	border:none;
	width:130px;
	height:106px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.red{
	color:#f33;
}
.blue{
	color:#33f;
}
.vote{
	background-repeat:no-repeat;
	background-position: top;
	background-color: transparent;
	border:none;
	width:150px;
	height:250px;
	white-space:nowrap;
	vertical-align:bottom !important;
	color:#099;
	font-size:1.2em;
	/*border: 1px  #000 solid;*/

}
.vote1{
	background-image: url('./../images/1.png');
}
.vote1:hover{
	background-image: url('./../images/1b.png');
	
}
.vote1:active{
	background-image: url('./../images/1clicked.png');
	
}





.vote2{
	background-image: url('./../images/2.png');
	
}
.vote2:hover{
	background-image: url('./../images/2b.png');

}
.vote2:active{
	background-image: url('./../images/2clicked.png');
	
}


.vote3{
	background-image: url('./../images/3.png');
	
}
.vote3:hover{
	background-image: url('./../images/3b.png');
	
}

.vote3:active{
	background-image: url('./../images/3clicked.png');
	
}




.vote4{
	background-image: url('./../images/4.png');
	
}
.vote4:hover{
	background-image: url('./../images/4b.png');
	
}

.vote4:active{
	background-image: url('./../images/4clicked.png');
	
}



.vote5{
	background-image: url('./../images/5.png');
	
}
.vote5:hover{
	background-image: url('./../images/5b.png');
	
}
.vote5:active{
	background-image: url('./../images/5clicked.png');
	
}








