input[type='range'].meter{
	-webkit-appearance: none; 
	background-image: url('./../images/sidemeter2streached.png');
	background-repeat:no-repeat;
	background-color: transparent;
	border:none;
	width:226px;
	height:106px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.red{
	color:#f33;
}
.blue{
	color:#33f;
}
.vote{
	background-repeat:no-repeat;
	background-position: top;
	background-color: transparent;
	border:none;
	width:150px;
	height:250px;
	white-space:nowrap;
	vertical-align:bottom !important;
	color:#099;
	font-size:1.2em;
	/*border: 1px  #000 solid;*/

}
.vote1{
	background-image: url('./../images/1.png');
}
.vote1:hover{
	background-image: url('./../images/1b.png');
	
}
.vote1:active{
	background-image: url('./../images/1clicked.png');
	
}

.scale{
	padding:2em;
	margin:0px;
	border:none;
	
}

.scale:hover{
	-moz-box-shadow:0 0 6px #f8b635;
	-webkit-box-shadow:0 0 6px #f8b635;		
}









