<!DOCTYPE HTML>
<html>
<head>

<title>Spy or Not</title>

  <meta charset="utf-8">
  <script type="text/javascript" charset="utf-8" src="./../lib/jquery.js"></script>
  <script type="text/javascript" charset="utf-8" src="./../lib/underscore.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="./../lib/Backbone.js"></script>
  <script type="text/javascript" charset="utf-8" src="./../lib/Kinetic.js"></script>
  <link rel="stylesheet" type="text/css" href="./../css/saa.css" />
  <link rel="stylesheet" type="text/css" href="./../css/vote.css" />
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30676346-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>


<body>
  <h1 ><span id ="spytype"></span>Spy or Not?</h1>

  <div style="margin:auto; text-align:center;">
    <div id="game_area"  >
      <canvas id="counter"  style="margin:auto;"> 
      </canvas>
      <div style="clear:both; margin:auto;  text-align:center;">
        <input class="large green button" type="button" id="playButton" value="Start" onClick="voteMeter(document.getElementById('meter').value)"/>
      </div>
    </div>
    <div id="spy_score" class="hidden" style="float:right;">
    <h2>Score - <span id="percent_score"></span></h2>
      <div id="viz">
      </div>
      <div class="hidden">
        Native correctly identified: <input class="score green" value=2 id="nativepositive"/>
        <br/>
        Native incorectly rejected: <input class="score red" value=2 id="nativemissing"/>
        <br/><div class="hidden">
        The fuzzy middle: <input class="score green " value=2 id="nonnativepositive"/>
        <br/>
        The fuzzy middle: <input class="score red" value=2 id="nonnativemissing"/>
        <br/></div>
        Non-native correctly rejected: <input class="score green" value=2 id="prenonnativepositive"/>
        <br/>
        Non-native incorrectly accepted:<input class="score red " value=2 id="prenonnativemissing"/>
        <br/>
      </div>
    </div>
  </div>

<div style="padding:0px; display:block; clear:both; " id="meterdiv">
  <div id="justmeter">
  <table cellpadding="0" cellspacing="0" style="padding:0px; margin:auto;"><tr>
    <td>
    <img  src="./../images/sidemeter1.png"/>
    </td><td>
    <input class="meter" id="meter" type="range"  min="-5" max="5" onchange="addVoteDetails(event.target.value)" />
    </td><td>
    <img  src="./../images/sidemeter3.png"/>
    </td><td>
   
    </td>
  </tr> </table>
  </div>

  <table cellpadding="0" cellspacing="0" style="padding:0px; margin:auto;"><tr><td>
   <tr><td>
    <span class="blue lobster">Not from <span id ="spytype2"></span></span>
  </td><td width="226px">
  </td><td>
    <span class="red lobster">From <span id ="spytype3"></span></span>
  </td></tr>
  </table>
</div>

  <form method="post" style="float:right;" action="survey.html">
      <input class="large pink button" type="submit" value="Exit the bus..." />
  </form>
  
  
  
  
<div id="bugframe"  style="margin:3em; text-align:center; width:80%">
  <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dEMyLTNQaXlubmNFRUp1dFQzaUVaZWc6MQ" width="100%" height="300" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>


<iframe  id="vote_frame" src="vote.html" width="0" height="0" frameborder="0" marginheight="0" marginwidth="0"></iframe>
  


  <div id="audio_div" class="">
    <audio id="click_sound" src="./../audio_sounds/click.mp3"></audio>
  </div>

  <audio id="stimuli_audio" src="./../audio_sounds/click.mp3"></audio>
  <audio id="bus_audio" src="./../audio_sounds/bus_driving_away2.mp3"></audio>

<script type="text/javascript" charset="utf-8" src="./../src/SampleLoaderDisk.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/Util.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/Stimuli.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/AccentMeter.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/Participant.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/GameRouter.js"></script>
<script type="text/javascript" charset="utf-8" src="./../lib/d3.js"></script>
<script type="text/javascript" charset="utf-8" src="./../lib/donuts_multiple.js"></script>

<script>
  window.games = JSON.parse(localStorage.getItem("games"));
    
  $(function(){
    if(localStorage.getItem("game")){
      window.game = JSON.parse(localStorage.getItem("game"));
      startGame();
    }else{
      window.game = new GameRouter();
    }
  });

  var missions = games[localStorage.getItem("gameLanguage")].description.split(":::");
  for (m in missions){
    if(missions[m].length > 2){
      window.setTimeout("bug('"+missions[m]+"');",2000);
    }
  }

  drawMeter();
</script>

</body>
</html>
