<!DOCTYPE HTML>
<html manifest="./cache.appcache">
<head>
<title>Spy or Not</title>

	<meta charset="utf-8">
	<script type="text/javascript" charset="utf-8" src="./../lib/jquery.js"></script>
  <script type="text/javascript" charset="utf-8" src="./../lib/underscore.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="./../lib/Backbone.js"></script>
  <script type="text/javascript" charset="utf-8" src="./../lib/Kinetic.js"></script>
<link rel="stylesheet" type="text/css" href="./../css/saa.css" />
<link rel="stylesheet" type="text/css" href="./../css/vote.css" />
</head>


<body>

<div id="header">

<h1>Spy or Not</h1>


</div>




<div id="gamearea_div"></div>


<div id="countDown">12</div><div id="total"> out of 12</div>


  <input class="large green button" id="playButton" value="Play" onClick="playAudio(event)"/>


<div id="voteButtons">
  <button class="vote1 vote" type="button" id="vote1" value="1" onClick="vote(event)">Clearly</button>
  <button class="vote2 vote" type="button" id="vote2" value="2" onClick="vote(event)">Probably</button>
  <button class="vote3 vote" type="button" id="vote3" value="3" onClick="vote(event)">Not Sure</button>
  <button class="vote4 vote" type="button" id="vote4" value="4" onClick="vote(event)">Probably Not</button>
  <button class="vote5 vote" type="button" id="vote5" value="5" onClick="vote(event)">Clearly Not</button>
 


</div>

<!--
<img src="/images/scale.png" width="620" height="74" alt="rate this sound" usemap="#Smileys">
<map name="Smileys" id="Smileys">
          <area shape="circle" coords="50,35,30" id="vote1" value="1" onClick="vote(1)" alt="Not horrible">
          <area shape="circle" coords="185,35,30" id="vote2" value="2" onClick="vote(2)" alt="Bad">
          <area shape="circle" coords="300,31,29" id="vote3" value="3" onClick="vote(3)" alt="Really bad">
          <area shape="circle" coords="425,31,29" id="vote4" value="4" onClick="vote(4)" alt="Awful">
          <area shape="circle" coords="565,31,29" id="vote5" value="5" onClick="vote(5)"  alt="Really awful">
          </map>

-->






<form method="post" action="survey.html">
<input class="large pink button" type="submit" value="Exit" />
</form>

<script type="text/html"  id="game_view">

<input class="large blue button" id="hello" value="Something"/>

</script>

<script type="text/javascript" charset="utf-8" src="./../src/SampleLoaderDisk.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/Util.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/Stimuli.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/Vote.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/Participant.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/GameRouter.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/SyncResultTable.js"></script>

<script>
window.gameRouter = new GameRouter();
window.gameRouter.initialize();


</script>

</body>
</html>
