<!DOCTYPE HTML>
<html manifest="./cache.appcache">
<head>

<title>Spy or Not</title>

  <meta charset="utf-8">
  <script type="text/javascript" charset="utf-8" src="./../lib/jquery.js"></script>
  <script type="text/javascript" charset="utf-8" src="./../lib/underscore.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="./../lib/Backbone.js"></script>
  <script type="text/javascript" charset="utf-8" src="./../lib/Kinetic.js"></script>
<link rel="stylesheet" type="text/css" href="./../css/saa.css" />
<link rel="stylesheet" type="text/css" href="./../css/vote.css" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30676346-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>


<body>
       <h1 ><span id ="spytype"></span>Spy or Not?</h1>


  
 <div id="container">
  

  <canvas id="counter"  style="float:left; margin:auto;"> </canvas>

  <div id="spy_score" class="hidden" style="float:right;">
    <div id="viz"></div>
      <div>
        Hits: <input class="score" value=2 id="nativepositive"/>
        <br/>
        Misses: <input class="score" value=2 id="nativemissing"/>
        <br/>
        False positive: <input class="score" value=2 id="nonnativepositive"/>
        <br/>
        False negative:<input class="score" value=2 id="nonnativemissing"/>
        <br/>
      </div>
    </div>
  </div>


 

<div style="clear:both; display:block; margin:auto; padding:1em; text-align:center;">
    <input class="large green button" type="button" id="playButton" value="Start         " onClick="voteMeter(document.getElementById('meter').value)"/>
</div>

  <table cellpadding="0" cellspacing="0" style="padding:0px; margin:auto;"><tr><td>
  <img  src="./../images/sidemeter1.png"/>
  </td><td>
  <input class="meter" id="meter" type="range"  min="-5" max="5" onchange="addVoteDetails(event.target.value)" >
  </td><td>
  <img  src="./../images/sidemeter3.png"/>
  </td><td>
 
  </td></tr>
 
  </table>

  <table cellpadding="0" cellspacing="0" style="padding:0px; margin:auto;"><tr><td>
   <tr><td>
    <span class="blue">Not from <span id ="spytype2"></span></span>
  </td><td width="226px">
  </td><td>
    <span class="red">From <span id ="spytype3"></span></span>
  </td></tr>
  </table>

  <form method="post" style="float:right;" action="survey.html">
      <input class="large pink button" type="submit" value="Exit the bus..." />
  </form>
  
  
  
  

  <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dEMyLTNQaXlubmNFRUp1dFQzaUVaZWc6MQ" width="100%" height="300" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>



<iframe  id="vote_frame" src="vote.html" width="5" height="5" frameborder="0" marginheight="0" marginwidth="0"></iframe>
  


  <div id="audio_div" class="">
    <audio id="click_sound" src="./../audio_sounds/click.mp3"></audio>
  </div>

  <audio id="stimuli_audio" src="./../audio_sounds/click.mp3"></audio>


</div>


<script type="text/javascript" charset="utf-8" src="./../src/SampleLoaderDisk.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/Util.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/Stimuli.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/AccentMeter.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/Participant.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/GameRouter.js"></script>
<script type="text/javascript" charset="utf-8" src="./../lib/d3.js"></script>
<script type="text/javascript" charset="utf-8" src="./../lib/donut.js"></script>

<script>

$(function(){
  window.game = new GameRouter();
  //Backbone.history.start();
});

</script>

</body>
</html>
