<!DOCTYPE HTML>
<html manifest="./cache.appcache">
<head>
<title>Gamify Psycholinguistics Experiment</title>
	<meta charset="utf-8">
	<script type="text/javascript" charset="utf-8" src="./../lib/jquery.js"></script>

<link rel="stylesheet" type="text/css" href="saa.css" />

</head>

<body>



<div id="container">


<div id="header">

<h1>Gamify Psycholinguistics Experiment</h1>


</div>



<div id="middle" >


<div id="menu">

  <ul>
    <li><a href="howto.php">how to</a></li>
    <li><a href="browse.php">browse</a></li>
    <li><a href="searchsaa.php">search</a></li>
    <li><a href="resources.php">resources</a></li>
    <li><a href="about.php">about</a></li>
  </ul>

</div>

<div id="text">
<p>Welcome to the Gamify Psycholinguistics Experiment! Please turn your computer's sound on and set the volume level so you can hear me speaking clearly, as though I was having a conversation with you.</p>



  <input class =" large green button" type="green button" id="playButton" value="SoundCheck" onClick="playSoundCheckAudio(event)"/>

<form method="post" action="main.html">
<input class = "large blue button" type="submit" value="Let's get started" />
</form>


</div><!-- close text -->
</div><!-- close middle -->

<div id="footer">
</div>






    </div><!-- close container -->






<script type="text/javascript" charset="utf-8" src="./../src/Util.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/Stimuli.js"></script>
</body>
</html>