<!DOCTYPE HTML>
<html manifest="./cache.appcache">
<head>
<title>Spy or Not</title>
	<meta charset="utf-8">
	<script type="text/javascript" charset="utf-8" src="./../lib/jquery.js"></script>

<link rel="stylesheet" type="text/css" href="./../css/vote.css" />
<link rel="stylesheet" type="text/css" href="./../css/saa.css" />

</head>

<body>



<div id="container">


<div id="header">

<h1>Spy or Not?</h1>


</div>



<div id="middle" >


<div id="menu">

  <ul>
    
    <li><a href="http://about.accentsresearch.com/?page_id=209">about</a></li>
  </ul>

</div>

<div id="text">
	<p>Welcome to the Gamify Psycholinguistics Experiment! Please turn your computer's sound on and set the volume level so you can hear me speaking clearly, as though I was having a conversation with you.</p>


	<div id="choosegamebuttons">
		<input class = "large purple button" type="button" value="Russian" onClick="setGameLanguage(event)"/>
		<input class = "large seagreen button" type="button" value="Sussex" onClick="setGameLanguage(event)"/>
		<input class = "large yellow button" type="button" value="South African" onClick="setGameLanguage(event)"/>

	</div>


	<div id="soundcheckbuttons" class="hidden">
		<input class = "large green button" type="button" id="playButton" value="Listen to your Mission again..." onClick="playSoundCheckAudio(event)"/>

		<form method="post" action="main.html">
		<input class = "large blue button" type="submit" value="Let's get started!" />
		</form>
	</div>

</div><!-- close text -->
</div><!-- close middle -->

<div id="footer"></div>


<script type="text/javascript" charset="utf-8" src="./../src/Util.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/Mission.js"></script>
</body>
</html>