<!DOCTYPE HTML>
<html manifest="./cache.appcache">
<head>

<title>Spy or Not</title>
	<meta charset="utf-8">
	<script type="text/javascript" charset="utf-8" src="./../lib/jquery.js"></script>

<link rel="stylesheet" type="text/css" href="./../css/vote.css" />
<link rel="stylesheet" type="text/css" href="./../css/saa.css" />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30676346-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>



<div id="container">


<div id="header">

<h1>    Spy or Not?</h1>


</div>



<div id="middle" >


<div id="menu" >

  <ul>
    
    <li><a target="top" href="http://about.accentsresearch.com/?page_id=209">About</a></li>
  </ul>


<div id="soundcheckbuttons" class="hidden">
	<p>
		<input class = "large green button" type="button" id="playButton" value="Listen to Instructions" onClick="playGameMission(event)"/>
<p>
		<form method="post" action="main.html">
		<input class = "large blue button" type="submit" value="Let's get started!" />
		</form>
	</div>
</div>

<div id="mission_text">
	<p>Welcome to the spy game! Please select the place where you grew up:</p>


	<div id="choosegamebuttons">
		<button class = "large purple button" type="button" value="0" onClick="setGameLanguage(event)">Russia</button>
		<button class = "large seagreen button" type="button" value="1" onClick="setGameLanguage(event)">Sussex England</button>
		<button class = "large yellow button" type="button" value="2" onClick="setGameLanguage(event)">South Africa</button>

	</div>


	

</div><!-- close text -->
</div><!-- close middle -->

<div id="footer"></div>

<script type="text/javascript" charset="utf-8" src="./../src/SampleLoaderDisk.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/Util.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/Mission.js"></script>

<script language="JavaScript" src="http://j.maxmind.com/app/geoip.js"></script>
 <!--http://www.codeproject.com/Tips/191892/How-to-find-current-location-based-on-the-IP-addre-->
<br>Country Code:
<script language="JavaScript">document.write(geoip_country_code());</script>
<br>Country Name:
<script language="JavaScript">document.write(geoip_country_name());</script>
<br>City:
<script language="JavaScript">document.write(geoip_city());</script>
<br>Region:
<script language="JavaScript">document.write(geoip_region());</script>
<br>Region Name:
<script language="JavaScript">document.write(geoip_region_name());</script>
<br>Latitude:
<script language="JavaScript">document.write(geoip_latitude());</script>
<br>Longitude:
<script language="JavaScript">document.write(geoip_longitude());</script>
<br>Postal Code:
<script language="JavaScript">document.write(geoip_postal_code());</script>
<br>Language:
<span id="language"></span>
<script>
	//http://stackoverflow.com/questions/1043339/javascript-for-detecting-browser-language-preference
	var action ="https://docs.google.com/spreadsheet/formResponse?formkey=dHpES3FFcnVVZFRKX2J3eWFqOXhtQkE6MQ&ifq";
	var language;
	$.ajax({ 
	    url: "http://ajaxhttpheaders.appspot.com", 
	    dataType: 'jsonp', 
	    success: function(headers) {
	        language = headers['Accept-Language'];
	        document.getElementById("language").innerHTML= language;
	    }
	});
//Mac os x change system language to British English and got this:
//en-GB,en-US;q=0.8,en;q=0.6
</script>
</body>
</html>
