

<!DOCTYPE HTML>
<html>
<head>
<title>Spy or Not</title>
<link rel="stylesheet" type="text/css" href="./../css/vote.css" />
<link rel="stylesheet" type="text/css" href="./../css/saa.css" />


<meta charset="utf-8">
<script type="text/javascript" charset="utf-8" src="./../lib/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="./../lib/underscore.min.js"></script>
<script type="text/javascript" charset="utf-8" src="./../lib/Backbone.js"></script>
<style>
</style>

</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="header">

<h1>Spy or Not?</h1>

<div style="clear:both; display:block; width:100%;">
<div style="float:left; margin:.5em;">
    <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
    new TWTR.Widget({
      version: 2,
      type: 'search',
      search: '#phonetics OR #SpyOrNot',
      interval: 30000,
      title: 'Spy Or Not!',
      subject: '',
      width: 250,
      height: 300,
      theme: {
        shell: {
          background: '#Fc8',
          color: '#ffffff'
        },
        tweets: {
          background: '#333333',
          color: '#ffffff',
          links: '#Fc8'
        }
      },
      features: {
        scrollbar: false,
        loop: true,
        live: true,
        behavior: 'default'
      }
    }).render().start();
    </script>
</div>

   <div id="spy_score" class="hidden" style="float:right; width:25%;">
    <div id="viz"></div>
      <div class="hidden">
        Native correctly identified: <input class="score green" value=2 id="nativepositive"/>
        <br/>
        Native incorectly rejected: <input class="score red" value=2 id="nativemissing"/>
        <br/><div class="hidden">
        The fuzzy middle: <input class="score green " value=2 id="nonnativepositive"/>
        <br/>
        The fuzzy middle: <input class="score red" value=2 id="nonnativemissing"/>
        <br/></div>
        Non-native correctly rejected: <input class="score green" value=2 id="prenonnativepositive"/>
        <br/>
        Non-native incorrectly accepted:<input class="score red " value=2 id="prenonnativemissing"/>
        <br/>
      </div>
    </div>
  </div>


	<div id="share_div" class="" style="float:left; width:50%; margin:.5em;">
    <h2>Final Score - <span id="percent_score"></span></h2>
		<p>Spread the word, challenge your friends to beat your score!</p>
      <div id="tweet_facebook">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://game.accentsresearch.com" id="twitter_el" data-text="I played #SpyOrNot and got 8/10 spys!">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    
        <div class="fb-like" data-href="http://game.accentsresearch.com" data-send="true" data-width="450" data-show-faces="true" data-font="arial"></div>
      </div>
      <div id="android_share">
      </div>

	   </div>

  </div>
  <div style="clear:both; margin:2em;"><p>
   Experimental Design by <a href="http://accentsresearch.com">Dr. Laura Spinu and her students,</a> <a href="http://cmll.concordia.ca/linguistics">Concordia University</a>.</p>
   <p>
   The code for this phonetics experiment is free and open source. You <a href="http://github.com/AccentsResearchLab/GamifyPsycholinguisticsExperiments/">can get the code on GitHub</a> and modify it for your experiments if you know a bit of HTML.
   </p>
 </div>

<hr />
<div style="margin:3em;">
  <iframe src="participant.html" width="100%" height="400" frameborder="0" marginheight="0" marginwidth="0"></iframe>
</div>
<div id="bugframe"  style="margin:3em; text-align:center; width:80%">
  <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dEMyLTNQaXlubmNFRUp1dFQzaUVaZWc6MQ" width="100%" height="300" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>

<script type="text/javascript" charset="utf-8" src="./../src/Util.js"></script>
<script type="text/javascript" charset="utf-8"
	src="./../src/Participant.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/GameRouter.js"></script>
<script type="text/javascript" charset="utf-8" src="./../lib/d3.js"></script>
<script type="text/javascript" charset="utf-8" src="./../lib/d3.layout.js"></script>
<script type="text/javascript" charset="utf-8" src="./../lib/colorbrewer.js"></script>
<script type="text/javascript" charset="utf-8" src="./../lib/donuts_multiple.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/Stimuli.js"></script>

<script>
  var game = JSON.parse(localStorage.getItem("game"));

	var score = [
      {name: "Not", values: [0, 0 ]},
        {name: "Native", values: [0, 0]},
        {name: "Pre", values: [0, 0]}
        ];
  for (var s = 0; s < game.scores.length ; s++){
    score[0].values[0] += game.scores[s][0].values[0];
    score[0].values[1] += game.scores[s][0].values[1];

    score[1].values[0] += game.scores[s][1].values[0];
    score[1].values[1] += game.scores[s][1].values[1];
    
    score[2].values[0] += game.scores[s][2].values[0];
    score[2].values[1] += game.scores[s][2].values[1];
    if(s+1 == game.scores.length){
      draw_score(score);
    }
  }
  
</script>
</body>
</html>