

<!DOCTYPE HTML>
<html manifest="./cache.appcache">
<head>
<title>Spy or Not</title>
<link rel="stylesheet" type="text/css" href="./../css/vote.css" />
<link rel="stylesheet" type="text/css" href="./../css/saa.css" />


<meta charset="utf-8">
<script type="text/javascript" charset="utf-8" src="./../lib/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="./../lib/underscore.min.js"></script>
<script type="text/javascript" charset="utf-8" src="./../lib/Backbone.js"></script>
<style>
</style>

</head>
<body>
<div id="header">

<h1>Spy or Not</h1>


 <div id="spy_score" class="" style="float:right;">
    <div id="viz"></div>
    <input class="hidden" value=2 id="nonnativepositive"/>
    <input class="hidden" value=2 id="nonnativemissing"/>
    <input class="hidden" value=2 id="nativepositive"/>
    <input class="hidden" value=2 id="nativemissing"/>
  </div>
</div>



	<div id="shareDiv" class="hidden">
		<input type="button" id="tweet" value="Tweet" onclick="document.form.submit()" /> <input
			type="button" id="facebook" value="Facebook" />
	</div>


<iframe src="participant.html" width="100%" height="300" frameborder="0" marginheight="0" marginwidth="0"></iframe>


<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dEMyLTNQaXlubmNFRUp1dFQzaUVaZWc6MQ" width="100%" height="300" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

	<script type="text/javascript" charset="utf-8" src="./../src/Util.js"></script>
	<script type="text/javascript" charset="utf-8"
		src="./../src/Participant.js"></script>
	<script type="text/javascript" charset="utf-8" src="./../src/GameRouter.js"></script>
	<script type="text/javascript" charset="utf-8" src="./../lib/d3.js"></script>
<script type="text/javascript" charset="utf-8" src="./../lib/donut.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/Stimuli.js"></script>

<script>
	var scores = JSON.parse(localStorage.getItem("scores"));
	draw_score(scores);
</script>
</body>
</html>