

<!DOCTYPE HTML>
<html manifest="./cache.appcache">
<head>
<title>Spy or Not</title>
<link rel="stylesheet" type="text/css" href="./../css/vote.css" />
<link rel="stylesheet" type="text/css" href="./../css/saa.css" />


<meta charset="utf-8">
<script type="text/javascript" charset="utf-8" src="./../lib/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="./../lib/underscore.min.js"></script>
<script type="text/javascript" charset="utf-8" src="./../lib/Backbone.js"></script>
<style>
</style>

</head>
<body>
<div id="header">

<h1>Spy or Not</h1>


   <div id="spy_score" class="hidden" style="float:right;">
    <div id="viz"></div>
      <div>
        %Native correctly identified: <input class="score green" value=2 id="nativepositive"/>
        <br/>
        %Native incorectly rejected: <input class="score red" value=2 id="nativemissing"/>
        <br/><div class="hidden">
        The fuzzy middle: <input class="score green " value=2 id="nonnativepositive"/>
        <br/>
        The fuzzy middle: <input class="score red" value=2 id="nonnativemissing"/>
        <br/></div>
        %Non-native correctly rejected: <input class="score green" value=2 id="prenonnativepositive"/>
        <br/>
        %Non-native incorrectly accepted:<input class="score red " value=2 id="prenonnativemissing"/>
        <br/>
      </div>
    </div>
  </div>


	<div id="shareDiv" class="hidden">
		<input type="button" id="tweet" value="Tweet" onclick="document.form.submit()" /> <input
			type="button" id="facebook" value="Facebook" />
	</div>
  <div style="clear:both;">
   Experimental Design and Audio copyright <a href="http//accentsresearch.com">Dr. Laura Spinu,</a> <a href="http://cmll.concordia.ca/">Concordia University</a>.<br/>
   Code copyright <a href="http://ilanguage.ca">iLanguage Lab LTD</a>, Montreal released free and open under the Apache 2.0 license. You <a href="github.com/AccentsResearchLab/GamifyPsycholinguisticsExperiments/">can get the code </a>  and modify it for your experiemnts if you know a bit of HTML.
 </div>


<iframe src="participant.html" width="100%" height="300" frameborder="0" marginheight="0" marginwidth="0"></iframe>


<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dEMyLTNQaXlubmNFRUp1dFQzaUVaZWc6MQ" width="100%" height="300" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

	<script type="text/javascript" charset="utf-8" src="./../src/Util.js"></script>
	<script type="text/javascript" charset="utf-8"
		src="./../src/Participant.js"></script>
	<script type="text/javascript" charset="utf-8" src="./../src/GameRouter.js"></script>
  <script type="text/javascript" charset="utf-8" src="./../lib/d3.js"></script>
  <script type="text/javascript" charset="utf-8" src="./../lib/d3.layout.js"></script>
  <script type="text/javascript" charset="utf-8" src="./../lib/colorbrewer.js"></script>
<script type="text/javascript" charset="utf-8" src="./../lib/donuts_multiple.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/Stimuli.js"></script>

<script>
	var scores = JSON.parse(localStorage.getItem("scores"));
	draw_score(scores);
</script>
</body>
</html>