<!DOCTYPE HTML>
<html >
<head>

<title>Spy or Not</title>
	<meta charset="utf-8">
	<script type="text/javascript" charset="utf-8" src="./../lib/jquery.js"></script>

<link rel="stylesheet" type="text/css" href="./../css/saa.css" />

</head>

<body>
<script src="http://pure-mountain-5519.herokuapp.com/getip&callback=getip"></script>
<script >
window.jsonIP ={};
window.jsonIP.ip ="ip service down";
getip = function(data){
 	window.jsonIP=JSON.parse(data);
 }
</script>
<script>
	isAndroidApp = function() {
		//Development tablet navigator.userAgent:
		//Mozilla/5.0 (Linux; U; Android 3.0.1; en-us; gTablet Build/HRI66) AppleWebKit/534.13 (KHTML, like Gecko) Version/4.0 Safari/534.13 
		//console.log(navigator.userAgent.indexOf("Spy or Not"));
		return navigator.userAgent.indexOf("Spy or Not") > -1;
	}
	if(isAndroidApp()){
		geoip_country_code = function(){
			return Android.getCountryCode();
		};
		geoip_country_name = function(){
			return Android.getCountryName();
		};
		geoip_latitude = function(){
			return Android.getLatitude();
		};
		geoip_longitude = function(){
			return Android.getLongitude();
		};
	}
	var actionURL ="https://docs.google.com/spreadsheet/formResponse?pli=1&formkey=dHpES3FFcnVVZFRKX2J3eWFqOXhtQkE6MQ&amp;ifq";

	function post_to_url(path, params, method) {
  		method = method || "post"; // Set method to post by default, if not specified.

	    var form = document.createElement("form");
	    form.setAttribute("method", method);
	    form.setAttribute("action", path);
	    for(var key in params) {
	        if(params.hasOwnProperty(key)) {
	            var hiddenField = document.createElement("input");
	            hiddenField.setAttribute("type", "hidden");
	            hiddenField.setAttribute("name", key);
	            hiddenField.setAttribute("value", params[key]);
	            form.appendChild(hiddenField);
	         }
	    }
	    document.body.appendChild(form);
    	form.submit();
	}

	var submitForm = function(formurl){
		var visitor = {};

		visitor["visitorid"] = Date.now();
		visitor["gameversion"] = localStorage.getItem("gameVersion");
		visitor["ipaddress"] = jsonIP.ip;
		visitor["countrycode"] = geoip_country_code();
		visitor["countryname"] = geoip_country_name();
		visitor["city"] = geoip_city();
		visitor["region"] = geoip_region();
		visitor["regionname"] = geoip_region_name();
		visitor["latitude"] = geoip_latitude();
		visitor["longitude"] = geoip_longitude();
		visitor["browseruseragent"] = navigator.userAgent;
		visitor["navigatorlanguage"] = navigator.language;
		visitor["httpheaderslanguage"] = language;
		visitor["soundcheckpagestarttime"] = Date.now();
		visitor["userlistenedtomission"] = "";
 		
		var params = [];
		params["entry.0.single"] = visitor["ipaddress"];
		params["entry.1.single"] = visitor["countrycode"];
		params["entry.2.single"] = visitor["countryname"];
		params["entry.3.single"] = visitor["city"];
		params["entry.4.single"] = visitor["region"];
		params["entry.5.single"] = visitor["regionname"];
		params["entry.6.single"] = visitor["latitude"];
		params["entry.7.single"] = visitor["longitude"];
		params["entry.8.single"] = visitor["browseruseragent"];
		params["entry.9.single"] = visitor["navigatorlanguage"];
		params["entry.10.single"] = visitor["httpheaderslanguage"];
		
		localStorage.setItem("visitor",JSON.stringify(visitor));
		console.log(JSON.stringify(visitor));
  		post_to_url(formurl,params,"post");
	}

	//http://stackoverflow.com/questions/1043339/javascript-for-detecting-browser-language-preference
	var language;
	$.ajax({ 
	    url: "http://ajaxhttpheaders.appspot.com", 
	    dataType: 'jsonp', 
	    success: function(headers) {
	        language = headers['Accept-Language'];
	        submitForm(actionURL);
	    }
	});
	
//Mac os x change system language to British English and got this:
//en-GB,en-US;q=0.8,en;q=0.6

</script>
</body>
</html>
