<!DOCTYPE HTML>
<html manifest="./cache.appcache">
<head>
	<meta charset="utf-8">
	<script type="text/javascript" charset="utf-8" src="./../lib/jquery.js"></script>
  <script type="text/javascript" charset="utf-8" src="./../lib/Kinetic.js"></script>

<style>

</style>
</head>
<body>


<div id="gamearea_div"></div>


<div id="countDown"></div>12<div id="total"> out of 12</div>

<div id="volumeSlider">
Volume Slider: 
<input type="range" min="0" max="5" value="1" step="0.1" id="gain" onchange="adjustGain(event)">
</div>

  <input type="button" id="playButton" value="Play" onClick="playAudio(event)"/>

<div id="voteButtons">
  <input type="button" id="vote1" value="1" onClick="vote(event)"/>
  <input type="button" id="vote2" value="2" onClick="vote(event)"/>
  <input type="button" id="vote3" value="3" onClick="vote(event)"/>
  <input type="button" id="vote4" value="4" onClick="vote(event)"/>
  <input type="button" id="vote5" value="5" onClick="vote(event)"/>
</div>


<script type="text/javascript" charset="utf-8" src="./../src/Util.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/Stimuli.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/Vote.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/Game.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/SyncResultTable.js"></script>

</body>
</html>