<!DOCTYPE HTML>
<html manifest="./cache.appcache">
<head>
	<meta charset="utf-8">
	<script type="text/javascript" charset="utf-8" src="./../lib/jquery.js"></script>
<style>

</style>
</head>
<body>


<div id="infographic_of_results"></div>

<div id="shareDiv">
 	<input type="button" id="tweet" value="Tweet" />
  <input type="button" id="facebook" value="Facebook" />
</div>


<div id="category_A">
  <input type="button" id="surveyClick1" value="1" onClick="surveyClick(event)"/>
  <input type="button" id="surveyClick2" value="2" onClick="surveyClick(event)"/>
  <input type="button" id="surveyClick3" value="3" onClick="surveyClick(event)"/>
  <input type="button" id="surveyClick4" value="4" onClick="surveyClick(event)"/>
  <input type="button" id="surveyClick5" value="5" onClick="surveyClick(event)"/>
</div>



<div id="category_B">
  <input type="button" id="surveyClick1" value="1" onClick="surveyClick(event)"/>
  <input type="button" id="surveyClick2" value="2" onClick="surveyClick(event)"/>
  <input type="button" id="surveyClick3" value="3" onClick="surveyClick(event)"/>
  <input type="button" id="surveyClick4" value="4" onClick="surveyClick(event)"/>
  <input type="button" id="surveyClick5" value="5" onClick="surveyClick(event)"/>
</div>


<div id="category_C">
  <input type="button" id="surveyClick1" value="1" onClick="surveyClick(event)"/>
  <input type="button" id="surveyClick2" value="2" onClick="surveyClick(event)"/>
  <input type="button" id="surveyClick3" value="3" onClick="surveyClick(event)"/>
  <input type="button" id="surveyClick4" value="4" onClick="surveyClick(event)"/>
  <input type="button" id="surveyClick5" value="5" onClick="surveyClick(event)"/>
</div>

<script type="text/javascript" charset="utf-8" src="./../src/Util.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/Participant.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/Game.js"></script>
<script type="text/javascript" charset="utf-8" src="./../src/SyncParticipantTable.js"></script>

</body>
</html>